<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[OK]</key>
	<string>yfy50</string>
	<key>[good]</key>
	<string>yfy52</string>
	<key>[不要]</key>
	<string>yfy53</string>
	<key>[亲亲]</key>
	<string>yfy15</string>
	<key>[伤心]</key>
	<string>yfy48</string>
	<key>[偷笑]</key>
	<string>yfy14</string>
	<key>[可怜]</key>
	<string>yfy5</string>
	<key>[可爱]</key>
	<string>yfy4</string>
	<key>[右哼哼]</key>
	<string>yfy20</string>
	<key>[吃惊]</key>
	<string>yfy7</string>
	<key>[吐]</key>
	<string>yfy24</string>
	<key>[呵呵]</key>
	<string>yfy1</string>
	<key>[哈哈]</key>
	<string>yfy3</string>
	<key>[哼]</key>
	<string>yfy39</string>
	<key>[嘘]</key>
	<string>yfy21</string>
	<key>[嘻嘻]</key>
	<string>yfy2</string>
	<key>[困]</key>
	<string>yfy33</string>
	<key>[失望]</key>
	<string>yfy36</string>
	<key>[委屈]</key>
	<string>yfy23</string>
	<key>[害羞]</key>
	<string>yfy8</string>
	<key>[左哼哼]</key>
	<string>yfy19</string>
	<key>[开心]</key>
	<string>yfy17</string>
	<key>[弱]</key>
	<string>yfy56</string>
	<key>[心]</key>
	<string>yfy47</string>
	<key>[怒]</key>
	<string>yfy27</string>
	<key>[怒骂]</key>
	<string>yfy46</string>
	<key>[思考]</key>
	<string>yfy31</string>
	<key>[悲伤]</key>
	<string>yfy42</string>
	<key>[懒得理你]</key>
	<string>yfy18</string>
	<key>[打哈欠]</key>
	<string>yfy25</string>
	<key>[抓狂]</key>
	<string>yfy43</string>
	<key>[抱抱]</key>
	<string>yfy26</string>
	<key>[拜拜]</key>
	<string>yfy30</string>
	<key>[挖鼻孔]</key>
	<string>yfy6</string>
	<key>[挤眼]</key>
	<string>yfy9</string>
	<key>[晕]</key>
	<string>yfy41</string>
	<key>[来]</key>
	<string>yfy55</string>
	<key>[汗]</key>
	<string>yfy32</string>
	<key>[流泪]</key>
	<string>yfy13</string>
	<key>[爱你]</key>
	<string>yfy12</string>
	<key>[猪头]</key>
	<string>yfy49</string>
	<key>[生病]</key>
	<string>yfy16</string>
	<key>[疑问]</key>
	<string>yfy28</string>
	<key>[睡觉]</key>
	<string>yfy34</string>
	<key>[耶]</key>
	<string>yfy51</string>
	<key>[花心]</key>
	<string>yfy38</string>
	<key>[蛋糕]</key>
	<string>yfy59</string>
	<key>[蜡烛]</key>
	<string>yfy57</string>
	<key>[衰]</key>
	<string>yfy22</string>
	<key>[话筒]</key>
	<string>yfy60</string>
	<key>[赞]</key>
	<string>yfy54</string>
	<key>[鄙视]</key>
	<string>yfy11</string>
	<key>[酷]</key>
	<string>yfy37</string>
	<key>[钟]</key>
	<string>yfy58</string>
	<key>[钱]</key>
	<string>yfy35</string>
	<key>[闭嘴]</key>
	<string>yfy10</string>
	<key>[阴脸]</key>
	<string>yfy45</string>
	<key>[馋嘴]</key>
	<string>yfy29</string>
	<key>[黑线]</key>
	<string>yfy44</string>
	<key>[鼓掌]</key>
	<string>yfy40</string>
</dict>
</plist>
